<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a [routerLink]="['/']" class="logo my-0 text-dark mr-md-auto font-weight-bold font-size-20px">Ordos</a>
  <nav class="my-2 my-md-0 mr-md-3">
  </nav>
  <a  class="btn btn-outline-primary mr-3" [routerLink]="['/dashboard']">My account</a>
  <a  class="btn btn-outline-primary mr-3" [routerLink]="['/auth']">Login</a>
  <a  class="btn btn-outline-primary mr-3" [routerLink]="['/reg']">Sign up</a>
  <a  class="btn btn-warning" (click)="logoutUser()">Logout</a>
</div>
